{% load static %}
{% include 'header.html' with app_title='Авторизация'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    
</head>

<body>

    <form style="height: 150px;" class="card" method="post" action={% url "lForm"%}>
        <div class="title">Логин</div>
        <input name="email" type="text" required>
        <div class="title">Пароль</div>
        <input name="password" type="password"  required> 
        <input style="background-color: #264653;" type="submit" value="Войти" class="button">
    </form>
    <a href = "{% url 'mainForm'%}">
        <input style="background-color: #264653; margin-left: 10px;" type="submit" value="Я новенький" class="button">
    </a>
      
</body>
</html>
