{% load static %}
{% block header %}
<div class="header_back" style="background-color:#4FBF9F; width:100%; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
    <a href = "/" style ="width: 10vw;">
      <img src = "{% static 'logo.png' %}" style="height: 10vh; margin-top:1.5vh; margin-bottom:1.5vh;  margin-left:3vw">
    </a>
    <div class="app_name"  style="margin-top:2vh; margin-left: auto; margin-right: auto;">{{ app_title }}</div>
    <a href = "auth/" style ="width: 10vw;">
        <img src = "{% static 'logo.png' %}" style="height: 10vh; margin-top:1.5vh; margin-bottom:1.5vh;  margin-right:3vw">
    </a>
</div>
{% endblock %}

