{% load static %}
{% include 'header.html' with app_title='Анализ успеваемости'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анализ успеваемости</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    
</head>
<body>
    <form action="." method="GET" style="margin-right:2%; display: flex; flex-direction: column; align-items: center;">
        <div class="container">
            <div class="card">
                <div class="title">Часы занятий</div>
                <input name="hours_studied" type="number" value="{{data.hours_studied}}" min = "0" max="50" required>
            </div>
            <div class="card">
                <div class="title">Посещаемость</div>
                <input name="attendance" type="number" value="{{data.attendance}}" min = "0" max = "100" required>
            </div>
            <div class="card">
                <div class="title">Часы сна</div>
                <input name="sleep_hours" type="number" value="{{data.sleep_hours}}" min = "0" max = "24" required>
            </div>
            <div class="card">
                <div class="title">Физическая активность</div>
                <input name="physical_activity" type="number" value="{{data.physical_activity}}" min = "0" max = "12" required>
            </div>
        </div>
        <input type="submit" value="Рассчитать" class="button">
    </form>
    <div class="card-res" id="ratingCard">
        <div class="title-res">Прогнозируемый результат:</div>
        <div class="title-res" id="ratingValue">{{data.PredictedRating}}</div>
    </div>
      
    <script>
      window.onload = function() { 
        const ratingCard = document.getElementById('ratingCard');
        const ratingValue = document.getElementById('ratingValue');
        const rating = parseFloat(ratingValue.textContent); 
    
        if (rating >= 75) {
          ratingCard.style.backgroundColor = '#4CAF50'; // Green
        } else if (rating >= 55) {
          ratingCard.style.backgroundColor = '#FFC107'; // Yellow
        } else if (rating == 0) {
          ratingCard.style.backgroundColor = '#ced4da'; // Grey
        } else {
          ratingCard.style.backgroundColor = '#F44336'; // Red
        }
      };
    </script>
    
  
      
</body>
</html>



