{% load static %}
{% include 'header.html' with app_title='Мои предметы'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Анализ успеваемости</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    
</head>

<body>
  <form action="." method="GET" style="display: flex; justify-content: center; align-items: center;">
    <div class="container-sub">
      
      <div class="card-sub">
        <div style="display: flex; align-items: center;"> 
                <input style="margin-left: 10px;" class="title-res" type="text" placeholder="Предмет">
                <input class="sub-des" class="title-res" type="number" placeholder="Количество пар">
            <input style="background-color: #264653;  margin-left: 80px;" type="submit" value="Добавить предмет" class="button">
        </div>
    </div>    
      <div class="card-sub">
          <div style="display: flex; align-items: center;"> 
              <div style="margin-left: 10px;"class="title-res">Предмет 1</div> 
              <div class="sub-des">Пар: 18</div> 
              <div class="sub-des">Недель: 7</div> 
              <a href = "{% url 'weeks' %}">
                <input style="background-color: #264653;  margin-left: 100px;" type="submit" value="Cтатистика" class="button">
              </a>
              
              <div style="background-color: #4FBF9F; height: 50px; width: 50px; margin-left: 100px;" class="card-res" id="ratingCard">
                  <div class="title-res" id="ratingValue">{{ data.PredictedRating }}</div>
              </div>
          </div>
      </div>
      <div class="card-sub">
        <div style="display: flex; align-items: center;"> 
            <div style="margin-left: 10px;"class="title-res">Предмет 2</div> 
            <div class="sub-des">Пар: 36</div> 
            <div class="sub-des">Недель: 5</div> 
            <input style="background-color: #264653;  margin-left: 100px;" type="submit" value="Cтатистика" class="button">
            <div style="background-color: #4FBF9F; height: 50px; width: 50px; margin-left: 100px;" class="card-res" id="ratingCard">
                <div class="title-res" id="ratingValue">{{ data.PredictedRating }}</div>
            </div>
        </div>
    </div>
  </div>
</form>
      <script>
        const ratingCard = document.getElementById('ratingCard');
        const ratingValue = document.getElementById('ratingValue');
        const rating = parseFloat(ratingValue.textContent); 
      
        if (rating >= 75) {
          ratingCard.style.backgroundColor = '#4CAF50'; // Green
        } else if (rating >= 55) {
          ratingCard.style.backgroundColor = '#FFC107'; // Yellow
        } else {
          ratingCard.style.backgroundColor = '#F44336'; // Red
        }
      </script>
</body>
</html>



